.page-header {
  padding-top: 0px;
  padding-bottom: 9px;
  margin: 20px 0 30px;
  border-bottom: 1px solid #eeeeee;
}

a.anchor {
    display: block;
    position: relative;
    top: -50px;
    visibility: hidden;
}
